{{ define "main" }}
{{ $data := newScratch }}

<!-- hack to link pages in nested sections to the right Netlify CMS page -->
{{ if .Section }}
  {{ if eq .CurrentSection.File.Dir "fitness/training-log/" }}
    {{ $data.Set "collection" "training-log" }}
  {{ else }}
    {{ $data.Set "collection" .Section }}
  {{ end }}
{{ else }}
  {{ $data.Set "collection" "root" }}
{{ end }}

<main>
    <div class="admin-container">
      <a href="/admin/#/collections/{{ $data.Get "collection" }}/entries/{{ .File.TranslationBaseName }}">edit</a>
    </div>
    <div class="content">
        <h1 class="title">{{ .Title | markdownify }}</h1>
        {{ if .Params.toc }}{{ partial "toc.html" . }}{{ end }}
        {{ .Content | replaceRE `(<h[1-9] id=\"([^\"]+)\"[^\>]*\>)(.*)(</h[1-9]+>)` `${1}<a href="#${2}" class="anchor" ariaLabel="Anchor"></a>${3}${4}` | safeHTML }}
    </div>
</main>
{{ end }}
